{%  load staticfiles  %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}UNO Social{%  endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<meta charset="UTF-8">
<div id="header">
    <span class="logo">UNO SOCIAL</span>
    {% if request.user.is_authenticated %}
    <ul class="menu">
        <li {% if section == "dashboard" %} class="selected"{% endif %}><a href="{% url "dashboard" %}">My Dashboard</a></li>
    </ul>
    {% endif %}

    <span class="user">
        {% if request.user.is_authenticated %}
        Hello {{ request.user.first_name }}
        <a href="{% url "logout" %}">Logout</a>
        {% endif %}
    </span>
</div>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="#" class="navbar-brand"></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{% url 'welcome_page' %}" class="nav-link">Welcome</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'shop:product_list' %}" class="nav-link">Merchandise</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'events:event_list' %}" class="nav-link">Events</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'accommodations:accommodation_list' %}" class="nav-link">Dorm</a>
            </li>
			<li class="nav-item">
                <a href="{% url 'sports:sport_list' %}" class="nav-link">Sport</a>
            </li>
                <li class="nav-item">
                <a href="{% url 'weather:weather_list' %}" class="nav-link">Weather</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link">Login</a>
            </li>
            

        </ul>
        </div>

</nav>

<div id="content">
        {% block content %}
        {% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

<div class="footer">

<ul>
    <li {% if section == "Contact Us" %}class="selected"{% endif %}><a href="{% url 'contact' %}">Contact Us</a></li>
    <li {% if section == "About Us" %}class="selected"{% endif %}><a href="{% url 'about' %}">About Us</a></li>
    <li {% if section == "Need Help" %}class="selected"{% endif %}><a href="{% url 'help' %}">Need Help?</a></li>

</ul>
</div>


</html>
