
{% extends "base.html" %}

{% load static %}

{% block title %}
    {{ event.name }}
{% endblock %}

{% block content %}
    <div class="product-detail">
        <img src="{% if event.image %}{{ event.image.url }} {% else %} {% static "img/no_image.png" %}{% endif %}">
        <h1>{{ event.name }}</h1>
        <p class="price">$Cost: {{ event.price }}/person</p>
        <p class="description">{{ event.description }}</p>
        <p class="description">Location: {{ event.location }}</p>
        <p class="description">Last day to Register: {{ event.registration_deadline }}</p>
        <p class="description">Organisers: {{ event.organisers }}</p>
        <p class="description">Start time: {{ event.start }}</p>
        <p class="description">End time: {{ event.end }}</p>
        <div>
        <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCQ4UDZ1w3kcediwZsNn4uABuNY7DMkCLk
            &q={{ event.location }}" allowfullscreen>
        </iframe>
        </div>

    </div>
{% endblock %}
